// fontsize rem conversion
@mixin fz($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

// Ellipsis
@mixin truncate($truncation-boundary) {
	max-width: $truncation-boundary;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// pseudo elements
@mixin pseudo($content: '', $pos: absolute) {
	content: $content;
	position: $pos;
}

// position center
@mixin posCenter($position) {
	position: absolute;

	@if $position == 'vertical' {
		top: 50%;
		transform: translateY(-50%);
	} @else if $position == 'horizontal' {
		left: 50%;
		transform: translate(-50%);
	} @else if $position == 'both' {
		top: 50%;
		left: 50%;
	}
}
