// typography
$base-font-family: 'Poppins', sans-serif;
$reset-rem-size: 62.5%;
$font-size-base: 1.6rem;

// image path
$image-path: '../images';

// color
$base-color: #173756;
$primary-color: #59c4a5;
$black: #000;
$white: #fff;

$border-radius: 6px;
